@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 90 / 96 / 128


FONT SIZE SYSTEM
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  /*Primary Color*/
  --primary-color: #189ab4; /*#30b4ad*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* HEADER */
.header {
  position: relative;
  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.logo {
  color: var(--primary-color);
}

.logo:hover {
  color: #17889e;
}

/* NAVIGATION MENU */
.nav-item .nav-link {
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.15s;
}

.nav-item .nav-link:hover {
  color: #3dbdd6;
}

/* TO BE DECLARED IN JS */
.navbar-scroll {
  background-color: #ffffff;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.navbar-scroll .nav-item .nav-link {
  color: black;
}

.navbar-scroll .nav-item .nav-link:hover {
  color: #189ab4;
}
.navbar-scroll .logo {
  color: #000;
  font-weight: 500;
}

.navbar-brand {
  font-weight: 500;
}

.hero-title {
  text-transform: capitalize;
}

#hero-section {
  color: #ffffff;
  background-image: url(./img/Maramo-River-bg2.jpg);
  min-height: 100vh;
  height: 100%;
  height: 10rem;
  position: relative;
  background-position: center;
  background-size: cover;
  padding-top: 125px;
  margin: auto;
}

#hero-section:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /*background-color: rgba(57, 49, 49, 0.7);*/
  top: 0;
  left: 0;
  z-index: 1;
}

.line {
  width: 250px;
  height: 4px;
  background: var(--primary-color);
  margin: 16px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #55d6f0;
}

/* TO BE FIXED - LINE-HEIGHT - LINE-SPACING*/
#hero-section .hero-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin: 36px 0px 12px;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}

/* TO BE FIXED - LINE-HEIGHT - LINE-SPACING*/
#hero-section .hero-description {
  font-size: 16px;
  /*line-height: 150%;*/
  line-height: 28px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
  font-weight: 400;
  margin-top: 16px auto;
  text-shadow: 1px 1px 1px #383f47;
}

.hero-btn {
  padding: 0 34px;
  z-index: 1;
  margin: 30px auto 25px;
  line-height: 52px;
  position: relative;
  height: 52px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.hero-btn:hover {
  text-decoration: none;
  color: var(--primary-color);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}

/*================= MAIN CONTENT ================= 
/* TOP DESTINATIONS */
.wrapper {
  /*max-width: 1200px;*/
  margin: 16px 30px;
  padding: 0 23px;
  position: relative;
  margin-top: 40px;
}

.wrapper i {
  top: 50%;
  height: 46px;
  width: 46px;
  cursor: pointer;
  position: absolute;
  font-size: 1.2rem;
  text-align: center;
  line-height: 46px;
  background: var(--primary-color);
  color: #ffffff;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.wrapper i:first-child {
  left: 0;
  display: none;
}

.wrapper i:last-child {
  right: 0;
}

.wrapper i:hover {
  background-color: #55d6f0;
}

.wrapper i:active {
  background-color: #333;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.h1-top-destinations {
  padding-top: 70px;
  margin-left: 50px;
}

.carousel img {
  height: 340px;
  object-fit: cover;
  margin-left: 12px;
  width: calc(100% / 3);
}

.carousel img:first-child {
  margin-left: 0px;
}

/* Rivers Section */

.rivers {
  margin-top: 48px;
}

.image-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0;
}

.card {
  width: 350px;
  height: 360px;
  background: #fff;
  display: flex;
  align-items: flex-end;
  padding: 2rem 1rem;
  position: relative;
  transition: 0.5s all ease-in-out;
  margin-left: 16px;
  margin-bottom: 24px;
}

.card:hover {
  transform: translateY(-10px);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(13, 36, 63, 0.3), rgba(13, 36, 63, 1));
  z-index: 2;
  opacity: 0;
  transition: 0.5s all;
}

.card:hover::before {
  opacity: 1;
  transform: translateY(0);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  color: #fff;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(2);
}

.card .info h1 {
  line-height: 40px;
  margin-bottom: 10px;
}

.card .info p {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.card .info .photo-credits {
  font-size: 10px;
  margin-bottom: 20px;
}

.card .info .info-btn {
  background: #fff;
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.card .info .info-btn:hover {
  background: var(--primary-color);
  color: #fff;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

/* Sections */
.cuisine,
.landmarks,
.viewdeck,
.resorts {
  justify-content: center;
  position: relative;
  align-items: center;
  margin-top: 48px;
}
.h1-cuisine,
.h1-landmarks,
.h1-viewdeck,
.h1-resorts,
.h1-rivers {
  margin-left: 48px;
  padding-bottom: 48px;
}

.img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* SECTION: ABOUT*/
#about {
  /*width: 100%;
  min-height: 100vh;*/
  display: grid;
  place-items: center;
}

.row {
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  padding: 5rem 0;
}

.row .imgWrapper {
  overflow: hidden;
}

.row .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.row .imgWrapper:hover img {
  /* To transform the image when hover */
  transform: scale(1.25);
}

.row .contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.row .contentWrapper h2 {
  font-size: 40px;
  font-weight: 700;
  color: #383f47;
  padding-bottom: 20px;
}

.row .imgWrapper .about-credits {
  display: flex;
  padding-top: 16px;
  position: absolute;
  font-size: 12px;
}

.row .contentWrapper a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 15px 40px;
  letter-spacing: 1px;
  user-select: none;
  margin-top: 18px;
}

.row .contentWrapper a:hover {
  text-decoration: none;
  background-color: #147e93;
  color: #ffffff;
}

/* SECTION: FOOTER*/
.my-footer {
  margin-top: 64px;
  background-color: #183153;
}

.row .contentWrapper p {
  font-size: 16px;
  line-height: 25px;
}

.btn:hover {
  background-color: var(--primary-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/*=========================== MEDIA ===========================*/
/*---------- NAVIGATION ----------*/

@media only screen and (min-width: 1200px) {
  .nav-item > .nav-link {
    padding: 6px 20px !important;
    display: block !important;
  }

  .hero-section,
  .hero-title {
    font-size: calc(7px + 0.5vw);
  }
}

@media only screen and (max-width: 992px) {
  .header-inner {
    background-color: white !important;
  }
  .nav-item > .nav-link {
    color: black !important;
  }
  .logo {
    color: #000 !important;
    font-weight: 600 !important;
    text-shadow: none;
  }

  .logo:hover {
    color: var(--primary-color) !important;
  }

  .hero-section .hero-title {
    font-size: 30px !important;
  }
}

/*---------- TOP DESTINATIONS ----------*/

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }

  .card {
    margin-left: 0;
  }
}

/*---------- SECTION: ABOUT ----------*/
@media (max-width: 991px) {
  .row {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .row .contentWrapper {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .row {
    width: 90%;
  }

  .row .contentWrapper h2 {
    font-size: 30px;
    padding-bottom: 10px;
  }

  .row .contentWrapper p {
    line-height: 24px;
  }

  .row .contentWrapper a {
    font-size: 15px;
    padding: 10px 20px;
  }

  .hero-btn {
    font-size: 15px;
    padding: 0 34px;
  }
}

@media (max-width: 575px) {
  .row .contentWrapper h2 {
    font-size: 25px;
  }

  .row .contentWrapper p,
  #hero-section .hero-description {
    font-size: 15px;
    line-height: 22px;
  }

  #hero-section .hero-title {
    font-size: 40px;
  }

  .row .imgWrapper img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.3s;
  }
}
